#left{
width:300px;
}

input, .btn, textarea, label{
display:block;
margin:26px;
font-size:30px;
}

.postit{
background-color:lightyellow;
border:solid 1px black;
border-radius:20px;
padding:30px;
margin:30px;
width:300px;
cursor:pointer;
}

.postit p{
width:80%;
font-size:20px;
font-weight:normal;
margin:5px;
padding:0px;
border-radius:0px;
}
.postit span{
display:block;
font-weight:bold;
font-size:30px;
}

#right{
position:absolute;top:0px;left:67%;width:30%;
}